@import '../../sass/_variables.scss';

.cart{
    width: 86%;
    margin: auto;
    padding: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-family: map-get($map: $font, $key: fontGeneral);
    color: $mainColor;
    border: .1rem solid #838383;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1{
        margin: 1rem;
    }
}
.table-light{
    color: $TextColor;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(0.2rem);
    background-color: rgba(255, 255, 255, 0.099);
    margin: auto;
    padding: 100px 0 !important;
}
.table-light th{
    backdrop-filter: blur(0.2rem);
    background-color: rgba(0, 0, 0, 0.637);
    color: $TextColor;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
    border: none;
}

.cart-total{
    text-align: center;
    align-items: center;
    width: 100%;
    font-family: monserrat_bold;
    color: $TextColor;
    font-size: 25px;
    .cTotal{
        font-size: 1.5rem;
        color: $bg;
        background-color: $TextColor;
        padding: 1rem 0;
    }
}
.item-count{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border: $border;
    border-radius: 12px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    font-family: monserrat_bold;
}
.deleted{
    font-size: 1rem;
    color: $bg;
    margin: .3rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: $TextColor;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600; 
    &:hover {
        background: $mainColor; 
        color: $TextColor;
    }
}

.buy {
    font-size: 1rem;
    color: $TextColor;
    margin: .3rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: $mainColor;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600; 
    border: none;
    &:hover {
        background: $secundaryColor; 
        color: $mainColor;
    }
}