@import '../../sass/_variables.scss';

.card{
    width: 86%;
    backdrop-filter: blur(0.2rem);
    background-color: rgba(255, 255, 255, 0.099);
    border-radius: 20px;
    margin: auto;
    padding: auto;
}
.cardTitle{
    width: 100%;
    text-transform: uppercase;
    font-family: map-get($map: $font, $key: fontTitle);
    padding: 1rem;
}
.cardContainer{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
}
.imageContainer{
    width: 35%;
    text-align: center;
}
.image{
    max-width: 300px;
    align-items: center;
    
}
.detailContainer{
    width: 65%;
    height: 100%;
    border-left: $border;
    padding: 2%;
    color: $TextColor;
    h3{
        font-family: map-get($map: $font, $key: fontGeneral);
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 500;
        text-align: center;
    }
}
.price{
    h5,span{
        font-family: map-get($map: $font, $key: fontGeneral);
        font-size: 1.5rem;
        text-align: center;
        border-radius: 10px;
        color: #000;
        padding: 1rem 0;
        font-weight: 600;
        background-color: $TextColor;
    }
}
.buy {
    position: absolute;
    left: 0;
    line-height: 2rem;
    font-size: 1rem;
    color: $mainColor;
    margin: .3rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff002f;
    border-radius: 4px;
    margin-top: 10px;
    color: #fffbed;
    text-decoration: none;
    font-weight: 600; 
    &:hover {
        background: $secundaryColor; 
        color: $mainColor;
    }
}
