/* --------------------------------- 
------ Estilos de Cabecera  --------
--------------------------------- */
.navbar{
    background: rgb(24, 24, 24);
    border-bottom: .05rem solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 90px;
    margin-bottom: 3rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.comtainer-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarLogo{
    margin-left: 7%;    
}
.navbarLogo-img{
    width: 65px;
}

.navbar-nav{
    margin: auto;
    padding: auto;
    background-color: rgba(10, 10, 10, 0.5);
    border: .05rem solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 8px 20px;
    border-radius: 200px;
    box-shadow: 0 0 100px 0 rgba(255, 255, 255,.3);
}
.navbar-nav li a{
    font-size: 1rem;
    text-transform: uppercase;
}
.navbar-nav li a:hover{
    color:rgb(255, 0, 47) !important;
    font-weight: bold;
    background-color: rgba(10, 10, 10, 0.5);
}


.dropdown-menu, .dropdown-item {
    background-color: rgb(22, 22, 22);
    color: #fffbed;
}
.badge-info{
    color: black;
    background-color: rgb(255, 0, 47);
}
