@import '../../sass/_variables.scss';

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-2900px, 0, 0); /* The image width */
    }
}

.partners{
    background-color: #fff;
    overflow: hidden;
    margin-top: 50px;
    .slider{
        display: flex;
        flex-direction: row;
        justify-content: center;
        animation: slide 30s linear infinite;
    }
    img{
        height: 50px;
        padding: 5px 50px;
        filter: grayscale(100%);
    }
}

// ----------------------------------
// ----Estilos de Pie de Pagina------
// ----------------------------------
.enlace_rapido {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    &:hover{
        background: $mainColor;
    }
    .fa{
        color: #fff;
        font-size: 20px;
    }
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 7%;
    background-color: $TerliaryColor;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .footerIcons{
        color: $TextColor;
    }
    .contenedor{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .sec{
            margin-right: 30px;
        }
        h2{
            position: relative;
            font-weight: 500;
            font-size: 1.5rem;
            margin-bottom: 15px;
            text-transform: none;
            color: $TextColor;
            &::before{
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 50px;
                height: 2px;
                background-color: $mainColor;
            }
        }
        &__nosotros{
            width: 40%;
            p{
                color: #999;
            }
            .sci{
                margin-top: 20px;
                display: flex;
                li {
                    list-style: none;
                }
            }
        }
        &__links_utiles{
            position: relative;
            width: 25%;
            ul li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: #999;
                    margin-bottom: 10px;
                    display: inline-block;
                    &:hover{
                        color: #fff;
                    }
                }
            } 
        }
        &__contacto{
            // width: calc(35%- 60px);
            margin-right: 0;
            .info{
                position: relative;
                li{
                    display: flex;
                    margin-bottom: 16px;
                    color: #999;
                    &:hover{
                        color: #fff;
                    }
                    .footerIcons{
                        margin-right: 10px;
                    }
                }
            }
        }
    }

}

.footer__creador{
    text-align: center;
}
.footer__diseñador{
    color: rgb(130,130,160);
    background-color: $bgHeader;
    padding: 0.8rem 0;
    span{
        text-align: center;
        font-size: 1.1rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: guitaluevo;
        font-weight:100;
        padding: 0 3px;
    }

}

.footer__linke{
    text-align: center;
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: roboto;
    font-weight:100;
    padding: 0 3px;
    :hover{
        text-align: center;
        font-size: 0.9rem;
        color: $mainColor;
        text-decoration: none;
        text-transform: uppercase;
        font-family: roboto;
        font-weight:100;
        padding: 0 3px;
    }
}
@media (max-width:991px){
    footer{
        padding: 40px;
        .contenedor{
            flex-direction: column;
            .sec{
                margin-right: 0;
                margin-bottom: 40px;
                width: 100%;
            }
        }
    }
}